@import 'shared/styles/font';
@import 'shared/styles/global';
@import 'shared/styles/light-theme';
@import 'shared/styles/mixins';
@import 'shared/styles/variables';

.drawerBody {
  padding: 1rem 1rem 3rem 1rem;
}

.drawerHeader {
  @extend .main-bar;
  @include flex(center, left);
  height: 4rem;
}

.headerText {
  @include font(1rem, $secondary-text-color, 1rem, $fontBold);
}

.closeIcon {
  color: $secondary-text-color;
}
