@import 'shared/styles/breakpoints';
@import 'shared/styles/font';
@import 'shared/styles/light-theme';

.label {
  @include for-size(phone-only) {
    display: none;
  }
  @include for-size(tablet-landscape-up) {
    font-size: $font-normal;
    font-weight: $fontBold;
  }
}

.labelDark {
  color: $primary-text-color;
}

.labelLight {
  color: $secondary-text-color;
}
