// font-sizes
$font-small: 10px;
$font-normal: 14px;
$font-medium: 16px;
$font-large: 18px;
$font-heading: 20px;
$font-heading-large: 22px;

// font weights
$fontNormal: 400;
$fontBold: 600;
$fontBolder: 800;

@mixin font($fontSize, $color, $lineHeight: $font-medium, $fontWeight: $fontBold) {
  font-size: $fontSize;
  color: $color;
  line-height: $lineHeight;
  font-weight: $fontWeight;
}
