@import './colors';
@import './light-theme';
@import './mixins';

.main-bar {
  width: 100%;
  padding: 0 1rem;
  background-color: $blue-primary;
}

.pageWrapper {
  padding: 1rem 2rem;
}

.drawerFooterButtons {
  @include flex(center, end, row);
  background-color: $primary-background;
  position: absolute;
  bottom: 0.5rem;
  width: 100%;
  height: 3rem;
  margin-left: -1rem;
  padding: 1rem;
}
