$primary-color: #26519e;
$primary-color-hover: #576784;
// $secondary-color: #fff;

$primary-background: #f7f7f7;
$tertiary-background: #edf1ff;

$primary-border-color: #cfcfcf;
$secondary-border-color: #9c9c9c;

$primary-text-color: #000;
$secondary-text-color: #fff;
