$primary-color: #26519e;
// $secondary-color: #fff;

$primary-background: #fff;

$primary-border-color: #cfcfcf;
$secondary-border-color: #9c9c9c;

$primary-text-color: #000;
$secondary-text-color: #fff;
