@import './colors';

@mixin flex($align: center, $justifyContent: space-between, $direction: 'row') {
  display: flex;
  align-items: $align;
  justify-content: $justifyContent;
  flex-direction: $direction;
}

@mixin buttonLink {
  color: $white !important;
  font-weight: bold !important;
}
