@import 'shared/styles/font';
@import 'shared/styles/mixins';

.headerWrapper {
  @include flex(center, space-between);
  margin-bottom: 1.5rem;
}

.title {
  font-weight: $fontBold;
}

.searchWrapper {
  display: inline-flex;
}

.searchInput {
  width: 20rem;
}
