@import 'shared/styles/mixins';
@import 'shared/styles/font';
@import 'shared/styles/light-theme';

.introductionWrapper {
  @include flex(center, center, column);
  margin: 4rem auto;
  width: 50%;
}

.introBtnWrapper {
  @include flex(center, space-between, row);
}

.introductionTitle {
  font-size: $font-heading-extra-large;
  font-weight: $fontBolder;
  text-align: center;
}

.introductionText {
  font-size: $font-large;
  padding: 20px;
  text-align: center;
}

.designBtn {
  border-radius: 1rem;
  font-size: $font-medium;
  font-weight: $fontBold;
  @include flex(center, center, row);
  padding: 1.5rem;
}

.primaryDesignBtn {
  background-color: $primary-color;
  &:hover {
    background-color: $primary-color-hover;
  }
}

.secondaryDesignBtn {
  color: $primary-color;
  &:hover {
    color: $primary-color-hover;
  }
}

.featuresWrapper {
  @include flex(top, flex-start, row);
  padding: 1rem;
}

.featureSectionWrapper .featuresWrapper:nth-child(2n) {
  flex-direction: row-reverse;
}

.featureImage {
  flex-grow: 1;
  width: 20rem;
  padding: 2rem;
}

.featureTextWrapper {
  flex-grow: 2;
  padding: 5rem;
}

.featureTitle {
  font-size: $font-heading-large;
  font-weight: $fontBold;
}
