@import 'shared/styles/breakpoints';
@import 'shared/styles/font';
@import 'shared/styles/global';
@import 'shared/styles/light-theme';
@import 'shared/styles/mixins';
@import 'shared/styles/variables';

.navbarWrapper {
  @extend .main-bar;
  height: 4rem;
}

.flexWrapper {
  @include flex(center, space-between);
}

.btnLink {
  @include buttonLink;
}

.logo {
  @include for-size(tablet-landscape-up) {
    width: 35px;
    height: 35px;
    background: url('../../../../assets/database.svg') no-repeat;
    background-size: cover;
    &:after {
      content: 'Pro-DB Kit';
      position: absolute;
      top: 1rem;
      left: 4rem;
      color: $primary-background;
      font-size: $font-heading;
      font-weight: $fontBold;
    }
  }
}

.navList {
  @include for-size(phone-only) {
    font-size: $font-small;
  }
  @include for-size(tablet-portrait-up) {
    font-size: $font-small;
  }
  @include for-size(tablet-landscape-up) {
    font-size: $font-normal;
  }
  @include flex(center, flex-start);
  list-style: none;
  margin: 0;
  padding: 0;

  & li a {
    color: $secondary-text-color;
    padding: 1rem;
    font-weight: 500;

    &:hover {
      color: $secondary-border-color;
    }
  }
}

.settingAndLoginWrapper {
  @include flex(center, flex-start);
  font-size: $font-medium;
  color: $secondary-text-color;
}
